<%if current_user.attended_events != nil%>
  <% current_user.attended_events.each do |event| %>
    <div class="row">
      <div class="col-xs-6 event-name">
        <%= event.name %>
      </div>
      <div class="col-xs-6">
        <%= link_to 'Show', event, class: "btn btn-info" %>
        <%= link_to 'Quit', {:controller => 'users', :action=> 'quit', :delete_att => event, remote: true} ,{class: 'btn btn-danger', type: 'button'}%>
      </div>
    </div>
  <% end %>
<% end %>