<!DOCTYPE html> 
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.4/cerulean/bootstrap.min.css">
</head>


<p id="notice"><%= notice %></p>
<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_path %>"><b>SingleFile</b></a>
    </div>
  </div>
</div>

<div class="container">
  <div class="row mt centered">
    <div class="col-lg-6 col-lg-offset-3">

<head>
	<title>SingleFile</title>
</head>
<h1>New User Sign Up</h1>

<%= render 'form' %>

<%= link_to 'Back', users_path %>
</div>
    </div>
  </div>    
  