<div id="wrapper">

  <!-- Navigation -->
  <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/managers/dashboard"><b>SingleFile</b></a>
    </div>
    <!-- /.navbar-header -->

    <ul class="nav navbar-top-links navbar-right">
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-user">
          <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
          </li>
          <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
          </li>
          <li class="divider"></li>
          <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
          </li>
        </ul>
        <!-- /.dropdown-users -->
      </li>
      <!-- /.dropdown -->
    </ul>
    <!-- /.navbar-top-links -->

    <div class="navbar-default sidebar" role="navigation">
      <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
          <li class="sidebar-search">
            <div class="input-group custom-search-form">
              <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                  <i class="fa fa-search"></i>
                                </button>
                            </span>
            </div>
            <!-- /input-group -->
          </li>
          <li>
            <a href="#"><i class="fa fa-dashboard fa-fw"></i> Line Dashboard <span class="label label-danger label-as-badge">{{number_of_lines}}</span></a>
          </li>
          <li>
            <a href="/managers/events/"><i class="glyphicon glyphicon-th-list fa-fw"></i> My Events</a>
          </li>
          <li>
            <a href="/managers/create-event"><i class="fa fa-flash fa-fw"></i> Create Event</a>
          </li>


          <!-- Not active yet
          <li>
              <a href="#"><i class="glyphicon glyphicon-earphone fa-fw"></i> Support</a>
          </li>
          -->
        </ul>
      </div>
      <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
  </nav>

  <div id="page-wrapper">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">Dashboard</h1>
      </div>
      <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <!-- Progress bar -->
    <ul class="nav nav-tabs" role="tablist" id="tabs-customcss">
      {% for event in current_events %}
      <li role="presentation" ><a href="#line_panel{{forloop.counter}}" aria-controls="line_panel{{event.id}}" role="tab" data-toggle="tab"><span style="color:black;">Line {{forloop.counter}}</span></a></li>
      {%endfor%}
    </ul>

    <div class="tab-content">

      {% for event in current_events %}
      <div role="tabpanel" class="tab-pane" id="line_panel{{forloop.counter}}">
        <a href="#">
          <div>
            <p>
              </br>
              <strong>Line{{forloop.counter}}: {{event.name}}</strong>
            </p>
            <p id="timing_info{{event.id}}">
              <span id="past-time{{event.id}}" class="pull-left text-muted"></span>
              <span id="total-time{{event.id}}" class="pull-right text-muted"></span>
            </p>
            </br>
            <div id="line{{event.id}}-bar-control" class="progress progress-striped active">
              <div id="line{{event.id}}-bar" class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                <span class="sr-only">80% Complete (danger)</span>
              </div>
            </div>
          </div>
        </a>
        <!-- /progressbar -->
        <div class="row">
          <div class="col-lg-6 col-md-6">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-3">
                    <i class="fa fa-user fa-5x"></i>
                  </div>
                  <div class="col-xs-9 text-right">
                    <div class="huge" id="number_of_fake_user{{event.id}}">{{event.line.number_of_fake_user}}</div>
                    <div>Total People in Line!</div>

                  </div>
                </div>
              </div>
              <!-- <a href="#">
                  <div class="panel-footer">
                      <span class="pull-left">View Details</span>
                      <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                      <div class="clearfix"></div>
                  </div>
              </a> -->
            </div>
          </div>
          <!--
          <div class="col-lg-4 col-md-4">
              <div class="panel panel-green">
                  <div class="panel-heading">
                      <div class="row">
                          <div class="col-xs-3">
                              <i class="glyphicon glyphicon-time fa-5x"></i>
                          </div>
                          <div class="col-xs-9 text-right">
                              <div class="huge" id="timeleft">10</div>
                              <div>Minutes Left!</div>
                          </div>
                      </div>
                  </div>


              </div>
          </div>
          -->
          <div class="col-lg-6 col-md-6">
            <div class="panel panel-green">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-3">
                    <i class="glyphicon glyphicon-envelope fa-5x"></i>
                  </div>
                  <div class="col-xs-9 text-right">
                    <div class="huge" id="notifs_sent{{event.id}}">{{event.number_of_notifications}} </div>
                    <div>Push Notifications Sent!</div>
                  </div>
                </div>
              </div>
              <!-- <a href="#">
                   <div class="panel-footer">
                       <span class="pull-left">View Details</span>
                       <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                       <div class="clearfix"></div>
                   </div>
               </a> -->
            </div>
          </div>
        </div>
        <!-- /.row -->
        <div class="row">
          <div class="col-lg-8">
            <div class="panel panel-default">
              <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Checkin Statics Visualization
              </div>
              <!-- /.panel-heading -->
              <div class="panel-body">
                <div id="chart{{event.id}}" width="100%"></div>
              </div>
              <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
            <div class="panel panel-default">
              <div class="col-lg-12">
                <div class="panel-heading">
                  <i class="fa fa-bar-chart-o fa-fw"></i> Check-in Statics
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                  <div class="row">
                    <div class="table-responsive">
                      <table class="table table-bordered table-hover table-striped">
                        <thead>
                        <tr>
                          <th>Check-in Rounds</th>
                          <th>Check-in Period</th>
                          <th>Succssful Checkins</th>
                          <th>Total People in Line</th>
                        </tr>
                        </thead>
                        <tbody id="tbody{{event.id}}">

                        {%for record in event.notif_history reversed%}
                        <tr>
                          <td>#{{record.num}}</td>
                          <td>{{record.end_time}} </td>
                          <td>{{record.number_of_checkin}} </td>
                          <td>{{record.number_of_fake_user}} </td>
                        </tr>
                        {%endfor%}

                        </tbody>
                      </table>
                    </div>
                    <!-- /.table-responsive -->
                  </div>
                  <!-- /.col-lg-4 (nested) -->

                  <!-- /.col-lg-8 (nested) -->
                </div>
                <!-- /.row -->
              </div>
              <!-- /.panel-body -->
            </div>

            <!-- /.panel -->
          </div>
          <!-- /.col-lg-8 -->
          <div class="col-lg-4">
            <!-- /.panel -->
            <div class="chat-panel panel panel-default">
              <div class="panel-heading">
                <i class="fa fa-comments fa-fw"></i>
                Shout - Communicate with attendees

              </div>
              <!-- /.panel-heading -->
              <div class="panel-body">
                <ul class="chat">
                  <li class="left clearfix">
                                    <span class="chat-img pull-left">
                                        <img src="http://placehold.it/50/55C1E7/fff" alt="User Avatar" class="img-circle" />
                                    </span>
                    <div class="chat-body clearfix">
                      <div class="header">
                        <strong class="primary-font">Event Organizer </strong>
                        <small class="pull-right text-muted">
                          <i class="fa fa-clock-o fa-fw"></i> 12 mins ago
                        </small>
                      </div>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                      </p>
                    </div>
                  </li>
                  <li class="right clearfix">
                                    <span class="chat-img pull-right">
                                        <img src="http://placehold.it/50/FA6F57/fff" alt="User Avatar" class="img-circle" />
                                    </span>
                    <div class="chat-body clearfix">
                      <div class="header">
                        <small class=" text-muted">
                          <i class="fa fa-clock-o fa-fw"></i> 13 mins ago</small>
                        <strong class="pull-right primary-font">Attendee </strong>
                      </div>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                      </p>
                    </div>
                  </li>
                  <li class="left clearfix">
                                    <span class="chat-img pull-left">
                                        <img src="http://placehold.it/50/55C1E7/fff" alt="User Avatar" class="img-circle" />
                                    </span>
                    <div class="chat-body clearfix">
                      <div class="header">
                        <strong class="primary-font">Event Organizer</strong>
                        <small class="pull-right text-muted">
                          <i class="fa fa-clock-o fa-fw"></i> 14 mins ago</small>
                      </div>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                      </p>
                    </div>
                  </li>
                  <li class="right clearfix">
                                    <span class="chat-img pull-right">
                                        <img src="http://placehold.it/50/FA6F57/fff" alt="User Avatar" class="img-circle" />
                                    </span>
                    <div class="chat-body clearfix">
                      <div class="header">
                        <small class=" text-muted">
                          <i class="fa fa-clock-o fa-fw"></i> 15 mins ago</small>
                        <strong class="pull-right primary-font">Attendee</strong>
                      </div>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                      </p>
                    </div>
                  </li>
                </ul>
              </div>
              <!-- /.panel-body -->
              <div class="panel-footer">
                <div class="input-group">
                  <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." />
                                <span class="input-group-btn">
                                    <button class="btn btn-warning btn-sm" id="btn-chat">
                                      Send
                                    </button>
                                </span>
                </div>
              </div>
              <!-- /.panel-footer -->
            </div>
            <!-- /.panel .chat-panel -->
          </div>
          <!-- /.col-lg-4 -->
        </div>
        <!-- /.row -->

      </div>
      <!-- /#page-wrapper -->
      {%endfor%}
    </div>

  </div>
</div>

<!-- /#wrapper -->

<!-- jQuery Version 1.11.0 -->
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src={% static "assets/js/bootstrap.min.js"%}></script>

<!-- Metis Menu Plugin JavaScript -->
<script src={% static "assets/js/plugins/metisMenu/metisMenu.min.js"%}></script>

<!-- Custom Theme JavaScript -->
<script src={% static "assets/js/sb-admin-2.js" %}></script>
<!-- Pusher -->
<script src="//js.pusher.com/2.2/pusher.min.js" type="text/javascript"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
  $("#line_panel1").attr("class","tab-pane active");

  Pusher.log = function(message) {
    if (window.console && window.console.log) {
      window.console.log(message);
    }
  };
  var pusher = new Pusher('799c983b11e50404169d');
  var channel = pusher.subscribe('channel-manager');

  //--- helper function --//
  function secondsToTime(secs)
  {
    var hours = Math.floor(secs / (60 * 60));

    var divisor_for_minutes = secs % (60 * 60);
    var minutes = Math.floor(divisor_for_minutes / 60);

    var divisor_for_seconds = divisor_for_minutes % 60;
    var seconds = Math.ceil(divisor_for_seconds);

    var obj = {
      "h": hours,
      "m": minutes,
      "s": seconds
    };
    return obj;
  }

  //--update progress bar every second--//
  function progress_bar_update(){
    {%for event in current_events%}
      if ('{{event.line.status}}'=='O'){
        var start_time, end_time;
        start_time =new Date("{{event.line.line_time.isoformat}}");
        end_time   =new Date("{{event.line.end_time.isoformat}}");
        var time_now = new Date();
        var total_length_in_sec = (end_time-start_time)/1000;
        var past_time_in_sec = (time_now - start_time)/1000;

        var past_percentage = Math.round(100*(past_time_in_sec/total_length_in_sec));
        if (past_percentage>100){
          past_percentage=100;
        }
        var total_time = secondsToTime(total_length_in_sec);
        var past_time = secondsToTime(past_time_in_sec);
        if (time_now > end_time){
          past_time = total_time;
          $("#line{{event.id}}-bar-control").attr("class","progress progress-striped");

        }
        if(past_time.h == 0){
          $("#past-time{{event.id}}").text(" time passed: "+past_time.m+"mins"+past_time.s+"s");}
        else{
          $("#past-time{{event.id}}").text(" time passed: "+past_time.h+"hours "+past_time.m+"mins"+past_time.s+"s");
        }
        $("#total-time{{event.id}}").text("total line time: "+total_time.h+"hours "+total_time.m+"mins");
        $("#line{{event.id}}-bar").attr("style","width: "+past_percentage+"%");
        $("#line{{event.id}}-bar").text(past_percentage+"% Complete");
      }
      if ('{{event.line.status}}'=='R'){
        var start_time =new Date("{{event.line.line_time.isoformat}}");
        var time_now = new Date();
        var time_before_start_in_sec = (start_time-time_now)/1000;
        if (time_before_start_in_sec<=0){

          time_before_start_in_sec = 0;
        }
        var time_before_start = secondsToTime(time_before_start_in_sec);
        $("#line{{event.id}}-bar").attr("class","progress-bar progress-bar-info");
        $("#line{{event.id}}-bar").attr("style","width: 100%");
        $("#timing_info{{event.id}}").html("<span class='pull-left text-muted'>Will start at {{event.line.line_time}}</span>")
        $("#line{{event.id}}-bar").text("Start in "+time_before_start.h+"hours"+time_before_start.m+"mins"+time_before_start.s+"s");
      }
      {%endfor%}
    }
    progress_bar_update();
    var counter = setInterval(progress_bar_update, 1000);


    //-----------make chart------------------//
    // function generateChart(event_id, history){

    //       google.load("visualization", "1", {packages:["corechart"]});
    //       google.setOnLoadCallback(drawChart);
    //       function drawChart() {
    //         var data = new google.visualization.DataTable();
    //         data.addColumn('string','Check-in');
    //         data.addColumn('number','People in Line');
    //         data.addColumn('number','Succssful Check-ins');
    //         console.log(history);
    //         if (history!=null){
    //             console.log("I got called");

    //               ['Beginning',0,0],
    //               $.each(history, function (index, record){
    //                 data.addRows([
    //                 ['#'+record.num, record.number_of_fake_user, record.number_of_checkin],
    //                 ]);
    //             });
    //           }

    //         // if (data_update!=null){
    //         //     console.log(data_update);
    //         //     data.addRows([
    //         //             ['#'+data_update.round_number.toString(),data_update.number_of_fake_user,data_update.number_of_checkin],
    //         //         ]);
    //         //}
    //         var options = {
    //           hAxis: {title: 'Checkin Rounds',  titleTextStyle: {color: '#333'}},
    //           vAxis: {title: 'People',  titleTextStyle: {color: '#333'}, minValue: 0},
    //           width: 710,
    //           height: 200,
    //         };

    //         var chart = new google.visualization.AreaChart(document.getElementById('chart'+event_id));
    //         chart.draw(data, options);
    //       }
    //     }

    // //var history_lists = [];
    // {%for event in current_events%}
    //    //var history{{event.id}} = [];

    //    {%for history in event.notif_history%}
    //     //console.log('fuckyou');
    //     var record{{event.id}}{{forloop.counter}} = new Object();
    //         record{{event.id}}{{forloop.counter}}.num = {{history.num}};
    //         record{{event.id}}{{forloop.counter}}.number_of_fake_user = {{history.number_of_fake_user}};
    //         record{{event.id}}{{forloop.counter}}.number_of_checkin = {{history.number_of_checkin}};
    //     //history{{event.id}}.push(record{{event.id}}{{forloop.counter}});

    //    {%endfor%}

    //    //history_lists.push(record{{event.id}}{{forloop.counter}})
    //     //console.log("eventinfo "+history{{event.id}});
    // generateChart({{event.id}},history{{event.id}});

    // {%endfor%}

    {%for event in current_events%}
      window.generateChart{{event.id}} = function (data_update){

      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string','Check-in');
        data.addColumn('number','People in Line');
        data.addColumn('number','Succssful Check-ins');
        data.addRows([
          ['Beginning',0,0],
          {%for record in event.notif_history%}
      ['#{{record.num}}', {{record.number_of_fake_user}}, {{record.number_of_checkin}}],
    {%endfor%}
  ]);
    console.log("I got called");
    if (data_update){
      console.log(data_update);
      data.addRows([
        ['#'+data_update.round_number.toString(),data_update.number_of_fake_user,data_update.number_of_checkin],
      ]);
    }
    var options = {
      hAxis: {title: 'Checkin Rounds',  titleTextStyle: {color: '#333'}},
      vAxis: {title: 'People',  titleTextStyle: {color: '#333'}, minValue: 0},
      width: 700,
      height: 200,
    };

    var chart = new google.visualization.AreaChart(document.getElementById('chart{{event.id}}'));
    chart.draw(data, options);
  }
  }
  generateChart{{event.id}}();
  {%endfor%}
  /* this test code for generateChart{{event.id}}() works.
   datatest={"round_number":3,"notification_time":"March 4, 2015, 3:59 p.m.","number_of_checkin":19, "number_of_fake_user":21}
   generateChart4(datatest);
   */
  {%for event in current_events%}
    channel.bind("people_in_line_update"+{{event.id}}, function(data){
    $("#number_of_fake_user{{event.id}}").text(data.number_of_fake_user);
  });
  channel.bind("checkin_phase_meta"+{{event.id}}, function(data){
    location.reload();
    //would prefer this commented code if generateChart{{event.id}}() can work.
    //generateChart({{event.id}},null,data);
    $("#notifs_sent{{event.id}}").text(data.number_of_notification);
    $("#tbody{{event.id}}").prepend("<tr><td>"+'#'+data.round_number+"</td><td>"+data.notification_time+"</td><td>"+data.number_of_checkin+"</td><td>"+data.number_of_fake_user+"</td></tr>");

  });
  {%endfor%}

  // var chat_channel = pusher.subscribe('private-chatChannel');
  // {%for event in current_events%}
  // channel.bind('pusher:subscription_succeeded', function() {
  //     var triggered = channel.trigger('client-chatroom{{event.id}}', { message: "hey im talking" });
  //     });
  // {%endfor%}
</script>
}