// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body#events {

  .new-content{
    padding-left: 32px;
  }

  padding : 80px;
  #event-title {
    font-size: 2em;
  }

  .create-event-button {
    margin-top: 20px;
  }

  .nav-tabs > li.active > a,
  .nav-tabs > li.active > a:hover,
  .nav-tabs > li.active > a:focus {
    color: #CC3300;
    cursor: default;
    background-color: #FAFAFA;
    border: 1px solid #dddddd;
    border-bottom-color: transparent;
    
  } 

  .tab-content {
    color: black;
    background-color: #FAFAFA;
    padding: 5px 15px;
    border: 1px rgb(211, 211, 211) solid;
    border-top: 0;
  }

  .nav-tabs {
    font-size: 1.5em;
    font-weight: bold; 
  }

  #event-title{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center
  }

  #owl-demo .item {
    width: 65%;
    height: 430px;
    margin-left: 50px;
  }
  #owl-demo .item img{
    display: block;
    width: 100%;
    height: 100%;
    margin-left: 150px;
  }

  /* Rounded avatars */
  .clip {
    float: left;
    margin-top: 1em;
    margin-right: 1em;
    position: relative;

    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    border-radius: 10%;

    -webkit-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
    -moz-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
    box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
}
}

