#managers {

div.navbar-placeholder {
  height: 50px;
  width: 100%;
}

padding : 80px;

a:hover { 
  color: #FF9966;
}


.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #CC3300;
  cursor: default;
  background-color: #FAFAFA;
  border: 1px solid #dddddd;
  border-bottom-color: transparent;
}

.tab-pane {
    color : black;
    background-color: #FAFAFA;
    padding : 5px 15px;
    border: 1px rgb(211, 211, 211) solid;
    border-top: 0;
} 

table.table-in-tabs {
    margin-top: 0px;
    tbody {
      tr {
        td:first-child {
          min-width:1000px;
          font-size: 1.4em;
        }
      }
    }


  }

  .nav-tabs {
    
    font-size: 1.5em;
    font-weight: bold; 
  }


.btn {
  min-width: 80px;
}

.row {
  margin-top: 4px;
  margin-bottom: 4px;
}

#tab-pane-1 .nav-pills > li > a {
    border-radius: 0;
  }

.event-name {
  font-size: 1.3em;
  top: 50%;
  transform: translateY(50%);
}

.create-event-button {
  margin-top: 15px;
}

}