// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//rgb(76, 174, 211)
#users {
    padding : 80px;

  a:hover { 
      color: #FF9966;
  }

  .nav-tabs > li.active > a,
  .nav-tabs > li.active > a:hover,
  .nav-tabs > li.active > a:focus {
    color: #CC3300;
    cursor: default;
    background-color: #FAFAFA;
    border: 1px solid #dddddd;
    border-bottom-color: transparent;
  } 

  #exTab1 .tab-content {
    color : black;
    background-color: #FAFAFA;
    padding : 5px 15px;
    border: 1px rgb(211, 211, 211) solid;
    border-top: 0;
  }

  #exTab2 h3 {
    color : white;
    background-color: #428bca;
    padding : 5px 15px;
  }

  /* remove border radius for the tab */

  #exTab1 .nav-pills > li > a {
    border-radius: 0;
  }

  /* change border radius for the tab , apply corners on top*/

  #exTab3 .nav-pills > li > a {
    border-radius: 4px 4px 0 0 ;
  }

  #exTab3 .tab-content {
    color : white;
    background-color: #428bca;
    padding : 5px 15px;
  }

  table.table-in-tabs {
    margin-top: 5px;
    tbody {
      tr {
        td:first-child {
          min-width:750px;
          font-size: 1.4em;
        }
      }
    }


  }

  .nav-tabs {
    
    font-size: 1.5em;
    font-weight: bold; 
  }

  input#search-button{
    margin-left: 2px;
    margin-bottom: 3px;
    padding: 0 1px 1px 1px;
    border: 1px rgb(204, 204, 204) solid;
    height: 26px;
    min-width: 97px;
  }
}
