body#welcome {
  /*.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: white;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    -webkit-background-clip: padding-box;
            background-clip: padding-box;
  }    */
  #sign-in-dropdown {

    padding-left: 26px; // balance the whitespace to the left and to the right of the heading.
  }

  #sign-in-dropdown-m {

    padding-left: 1px; // balance the whitespace to the left and to the right of the heading.

  }

  .btn btn-default {
    color: #EEEEEE;

  }
}